@media (max-width: 768px) {
  .button {
    padding: 1.8rem !important;
    font-size: 1.6rem;
  }

  .input {
    width: 100% !important;

    .title {
      font-size: 1.4rem;
    }

    .error-message {
      font-size: 1.2rem;
    }

    input {
      padding: 1.6rem 1.2rem;
      font-size: 1.6rem;
    }

    input:focus, input:active, input.active {
      & + .title {
        font-size: 1.2rem;
        transform: translate(-4%, -320%);
      }
    }
  }

  .textarea {
    width: 100% !important;

    .title {
      font-size: 1.4rem;
    }

    .error-message {
      font-size: 1.2rem;
    }

    textarea {
      padding: 1.6rem 1.2rem;
      font-size: 1.6rem;
    }

    textarea:focus, textarea:active, textarea.active {
      & + .title {
        font-size: 1.2rem;
        transform: translate(-4%, -320%);
      }
    }
  }

  .counter {
    input {
      width: 12rem;
      height: 3.2rem;
      font-size: 1.6rem !important;
    }
    img {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  .discount-flag {
    left: calc(100% + .4rem);
  }

  body {
    padding-top: 7.2rem;
  }

  header {
    .content-wrapper {
      padding: 1.2rem;
      flex-wrap: wrap;

      .logo-wrapper img {
        height: 4rem;
      }

      .info-wrapper {
        display: none;
      }

      .contacts-wrapper {
        p {
          display: none;
        }
        a {
          display: block;

          img {
            display: none;
          }
        }
      }
    }
  }

  .product-types-selector-wrapper {
    padding: 1.8rem 1.2rem;

    .mobile-info-wrapper {
      display: block;
      padding: 1.8rem;
      margin-bottom: 1.2rem;
      background: $white;
      border-radius: .4rem;
      @include boxShadow;

      p {
        font-weight: 500;
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
        line-height: 1.4;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .product-type {
      padding: 1.8rem 0 1.2rem !important;
    }
  }

  .catalog-wrapper {
    padding: 0 1.2rem;
    margin-bottom: 4.2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;

    .product {
      padding: 1.8rem;
      grid-gap: 1.2rem;

      .cost-wrapper, .count-wrapper {
        span:not(.discount-flag) {
          font-size: 1.6rem;
        }
      }
    }
  }

  .basket-wrapper {
    padding: 0;

    form {
      width: 100%;
      min-height: 100vh;

      & > p {
        padding: 1.2rem;
        font-size: 2.1rem;
        line-height: 4rem;
      }

      .basket-product {
        padding: 1.2rem;

        .info-wrapper {
          padding-left: 1.2rem;

          h3 {
            font-size: 1.6rem;
            margin-bottom: .8rem;
          }

          .cost-wrapper, .count-wrapper {
            max-width: none;

            span:not(.discount-flag) {
              font-size: 1.5rem;
            }
          }
        }

        .remove-wrapper {
          top: 1.2rem;
          right: 1.2rem;
        }
      }

      .price-wrapper {
        padding: 1.2rem;

        span {
          font-size: 1.8rem;
        }
      }

      .form-info-wrapper {
        padding: 0 1.2rem;

        .block-title {
          font-size: 1.6rem;
          padding-bottom: .8rem;
        }

        .block-info {
          flex-direction: column;
        }
      }
    }
  }

  .basket-button {
    left: auto;
    bottom: auto;
    top: .65rem;
    right: 1.2rem;
    border-radius: .8rem;
    width: 5rem;
    height: 5rem;
    background-size: 70%;

    &.opened {
      border-radius: 50%;
    }
  }

  footer .content-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 6.4rem 1.2rem 4.8rem;

    .left-area {
      padding-right: 1.2rem;
      margin-right: auto;
    }
  }
}

@media (max-width: 567px) {
  .catalog-wrapper {
    padding: 0 1.2rem;
    margin-bottom: 4.2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0;

    .product {
      margin-bottom: 2rem;
    }
  }
  footer .content-wrapper {
    display: flex;
    flex-direction: column;

    .right-area {
      margin-top: 2.4rem;
      width: 100%;
    }
  }
}
