// Core //
@import 'colors';
@import 'mixins';
@import 'typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  outline: none;

  ::selection {
    background: $red;
    color: $white;
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 11.9rem;
  background: $gray-background;

  &.overflow {
    height: 100vh;
    overflow: hidden;
  }
}

// Components //
.button {
  width: max-content;
  min-width: 17.2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1rem 1rem 1rem;
  cursor: pointer;

  background-color: $white;
  border: 1px solid $green;
  border-radius: .4rem;
  color: $green;
  font-weight: 500;
  text-align: center;
  outline: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &:hover {
    background-color: $green;
    color: $white;
  }

  &.checked {
    background-color: $green;
    color: $white;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.basket-button {
  position: fixed;
  left: calc(100vw - 12.8rem);
  bottom: calc(50% - 8rem);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: $red;
  background-image: url("../images/basket-white.svg");
  background-size: 5.4rem;
  background-position: 50% 48%;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 3;

  transform: translateX(calc(100% + 5rem));
  transition: transform 0.15s ease-in 0.15s;
  pointer-events: none;

  &.opened {
    background-color: $white;
    background-image: url("../images/close.svg");
    background-position: 50% 50%;
    box-shadow: 0 .2rem 1.2rem $gray-border;
  }

  &.active {
    transform: translateX(0);
    transition: transform 0.15s ease-out;
    pointer-events: auto;

    &.animate {
      animation-name: basket;
      animation-duration: .2s;
      animation-delay: .15s;
    }
  }

  @keyframes basket {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

.counter {
  display: block;

  input {
    width: 7.2rem;
    height: 2.4rem;
    padding: 0 1.5rem;
    background: $gray-background;
    border: 1px solid $gray-border;
    border-radius: 2.4rem;
    text-align: center;
    font-size: 1.2rem !important;
    outline: none;
    font-family: 'Roboto', sans-serif;
  }

  img {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:last-child {
      left: auto;
      right: 0;
    }
  }
}

.input {
  width: 20rem;
  display: block;
  margin: 1.8rem 0 1.4rem;

  input.error {
    border-color: $red !important;
    background: $white !important;

    & ~ .title {
      color: $red !important;
    }
    & ~ .error-message {
      display: block;
    }
  }

  * {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  input {
    width: 100%;
    padding: 1.1rem .8rem;
    background: $gray-background;
    border: 1px solid $gray-border;
    border-radius: .4rem;
    color: $black;
  }

  input:focus, input:active, input.active {
    background: $white;
    border-color: $gray-border;

    &:focus {
      border-color: fade-out($black, .75);
    }

    & + .title {
      font-size: 1.1rem;
      transform: translate(-4%, -250%);
      color: fade-out($black, .1);
    }
  }

  input:required + .title:after {
    content: '*';
  }

  .title {
    width: 18rem;
    display: block;
    position: absolute;
    left: .8rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: fade-out($black, .6);
    transition: .15s ease-in-out;
  }

  .error-message {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + .1rem);
    margin: .1rem 0 0 .1rem;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $red;
  }
}

.textarea {
  width: 100%;
  display: block;
  margin: 1.8rem 0 1.4rem;

  .error {
    border-color: $red !important;;
    background: $white !important;

    & ~ .title {
      color: $red !important;
    }
    & ~ .error-message {
      display: block;
    }
  }

  * {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 8rem;
    max-height: 15rem;
    min-height: 3.8rem;
    padding: 1.1rem .8rem;
    background: $gray-background;
    border: 1px solid $gray-border;
    border-radius: .4rem;
    color: $black;
  }

  textarea:focus, textarea:active, textarea.active {
    background: $white;
    border-color: $gray-border;

    &:focus {
      border-color: fade-out($black, .75);
    }

    & + .title {
      font-size: 1.1rem;
      transform: translate(-4%, -288%);
      color: fade-out($black, .1);
    }
  }

  textarea:required + .title:after {
    content: '*';
  }

  .title {
    width: 18rem;
    display: block;
    position: absolute;
    left: .8rem;
    top: 2.4rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: fade-out($black, .6);
    transition: .15s ease-in-out;
  }

  .error-message {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0 0 0 .1rem;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $red;
  }
}

.checkbox {
  max-width: max-content;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  input:checked + .box {
    border-color: red;
    background-color: $red;
    background-image: url("../images/checked.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  .box {
    min-width: 1.8rem;
    min-height: 1.8rem;
    border: 1px solid $gray-border;
    border-radius: .4rem;
    background-color: $gray-background;
    cursor: pointer;
    margin-right: 1.2rem;
  }

  span {
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 600;
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
}

.discount-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem !important;
  width: 3.6rem;
  height: 1.9rem;
  border-radius: .4rem;
  background: $green;
  color: $white;
  position: absolute;
  left: calc(100% + .8rem);
  top: 50%;
  transform: translateY(-50%);
}

.preloader {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background: fade-out($white, .25);

  $spinkit-size: 8rem;
  $animationDuration: 1.8s;

  &.active {
    display: flex;

    .sk-cube {
      animation: sk-wandering-cubes $animationDuration ease-in-out #{-$animationDuration} infinite both;
    }
  }

  .sk-wandering-cubes {
    width: $spinkit-size;
    height: $spinkit-size;
    position: relative;

    .sk-cube {
      background-color: $red;
      width: ($spinkit-size / 4);
      height: ($spinkit-size / 4);
      position: absolute;
      top: 0;
      left: 0;
    }

    .sk-cube-2 {
      animation-delay: (-$animationDuration / 2);
    }
  }

  @keyframes sk-wandering-cubes {
    $cubeDistance: ($spinkit-size / 2);
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
    }
    50% {
      /* Hack to make FF rotate in the right direction */
      transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
    }
    50.1% {
      transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
    }
    75% {
      transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

}

// Sections //
header {
  width: 100%;
  background: $white;
  border-bottom: 1px solid $gray-border;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  .content-wrapper {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.8rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper img {
    display: block;
    height: 7rem;
  }

  .info-wrapper {
    width: 50%;
    max-width: 39rem;

    p, h1 {
      font-size: 1.2rem;
      line-height: 1.3;
      font-weight: 400;
    }

    *:first-child {
      margin-bottom: 1rem;
    }
  }

  .contacts-wrapper {
    width: 50%;
    max-width: 22rem;

    a {
      display: block;
      font-size: 1.4rem;
      line-height: 1.9;
      text-decoration: none;
      font-weight: 500;

      &.ico {
        width: max-content;
      }

      picture {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        left: 105%;
        top: 50%;
        transform: translateY(-55%);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    p:first-child {
      font-size: 1.6rem;
      line-height: 1.3;
      font-weight: 600;
      margin-bottom: 1.2rem;
    }
  }
}

.product-types-selector-wrapper {
  width: 100%;
  max-width: 120rem;
  padding: 2.4rem;
  margin: 0 auto;

  .mobile-info-wrapper {
    display: none;
  }

  .product-types-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $white;
    border-radius: .4rem;
    @include boxShadow;

    .border {
      content: '';
      position: absolute;
      left: 2.4rem;
      bottom: 0;
      width: 6.15rem;
      height: .3rem;
      background-color: $red;
      transform: translateX(0);
      transition: .15s ease-in-out;
    }

    .product-type {
      padding: 1.8rem 0 1.8rem;
      margin-left: 2.4rem;
      cursor: pointer;

      &:not(.active):hover *{
        color: fade-out($black, .5);
      }

      &.active *{
        color: $red;
      }

      &.active + .border {
        width: 8.6rem;
        transform: translateX(calc(6.15rem + 2.4rem));
      }

      * {
        pointer-events: none;
      }
    }
  }
}

.catalog-wrapper {
  width: 100%;
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto 12.8rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.4rem;

  .product {
    width: 100%;
    padding: 2.4rem 2.4rem;
    background-color: $white;
    border-radius: .4rem;
    @include boxShadow;

    .photo-wrapper {
      width: 100%;
      padding-bottom: 100%;
      margin-bottom: 2.4rem;
      border: 1px solid $gray-border;

      picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          height: 90%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    h3 {
      margin-bottom: .8rem;
    }
    .description {
      font-size: 1.4rem;
      line-height: 2.2rem;

      margin-bottom: 1.2rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid $gray-border;
    }
    .cost-wrapper, .count-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .8rem;

      span:not(.discount-flag) {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-family: 'Roboto', sans-serif;
      }
    }
    .count-wrapper {
      margin-bottom: 2.4rem;
    }
    .button-wrapper {
      width: 100%;

      .button {
        width: 100%;
      }
    }
  }
}

.basket-wrapper {
  width: 100%;
  height: 100vh;
  padding: 6.4rem 0;
  background: $gray-background;
  overflow-x: hidden;
  z-index: 2;
  left: 0;
  top: 0;
  position: fixed;
  display: none;

  &.opened {
    display: block;
  }

  form {
    width: calc(100% - 4.8rem);
    max-width: 80rem;
    margin: 0 auto;
    background: $white;
    border-radius: .4rem;
    @include boxShadow;

    p:not(.description) {
      font-size: 3.2rem;
      font-weight: 600;
      padding: 2.4rem;
    }

    .basket-product {
      width: 100%;
      padding: 1.2rem 2.4rem 1.2rem 1.2rem;
      border-top: 1px solid $gray-border;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .photo-wrapper {
        width: 10rem;
        height: 10rem;

        picture {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          img {
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .empty-message {
        padding: 4rem 0 4.1rem 1.2rem;
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-family: 'Roboto', sans-serif;
      }

      .info-wrapper {
        width: calc(100% - 10rem);
        padding-left: 2.4rem;

        h3 {
          font-size: 2.1rem;
          line-height: 3rem;
          margin-bottom: 1.2rem;
        }
        .description {
          font-family: 'Roboto', sans-serif;
          margin-bottom: 2.4rem
        }

        .cost-wrapper, .count-wrapper {
          width: 100%;
          max-width: 38rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span:not(.discount-flag) {
            font-size: 1.4rem;
            line-height: 2.4rem;
            font-family: 'Roboto', sans-serif;
          }

          span.basket-all-cost {
            min-width: 7.2rem;
            text-align: center;
          }
        }

        .cost-wrapper {
          margin-bottom: .4rem;
        }
      }

      .remove-wrapper {
        position: absolute;
        right: 1.8rem;
        top: 1.6rem;
        padding: .4rem;
        width: 2rem;
        height: 2rem;
        box-sizing: content-box;

        img {
          display: block;
          width: inherit;
          height: inherit;
          cursor: pointer;
        }
      }
    }

    .price-wrapper {
      width: 100%;
      padding: 2.4rem;
      margin-bottom: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $gray-border;
      //border-bottom: 1px solid $gray-border;

      span {
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-weight: 600;
      }

      #price {
        font-family: 'Roboto', sans-serif;
      }
    }

    .form-info-wrapper {
      width: 100%;
      padding: 1.2rem 2.4rem 0;
      border-top: 1px solid $gray-border;

      .block-title {
        font-size: 1.4rem;
        line-height: 1.7rem;
        padding: 2.4rem 0 1.2rem;
      }

      .delivery-wrapper.hidden {
        display: none;
      }

      .block-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & > .input {
          width: calc(33.33% - 1.6rem);
        }
      }

      .checkbox {
        margin: 2.4rem 0 1.8rem;
      }

      .button {
        width: 100%;
        padding: 1.6rem;
        margin: 2.8rem 0 2.4rem;
      }
    }
  }
}

.thanks-popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 999;
  overflow-x: hidden;

  &.hidden {
    display: none;
  }

  .thanks-popup {
    width: calc(100% - 4.8rem);
    max-width: 100rem;
    padding: 2.4rem 2.4rem;
    margin: 0 auto;
    background: $white;
    border-radius: .4rem;
    top: 2.4rem;

    img {
      position: absolute;
      right: 2.4rem;
      top: 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      z-index: 2;
    }

    h4 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

footer {
  width: 100%;
  background: $gray-dark;

  .content-wrapper {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 6.4rem 2.4rem 4.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h5 {
      color: $white;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 4.5rem;
      max-width: 54.6rem;
    }

    .block {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }

      .title {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 600;
        color: $red;
      }
      .content {
        font-size: 1.2rem;
        line-height: 1.8;
        color: $white;
      }
    }

    a, p {
      text-decoration: none;

      &.ico {
        width: max-content;
      }
      a {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
      }
      picture {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        left: 105%;
        top: 50%;
        transform: translateY(-55%);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  .bottom-wrapper {
    width: 100%;
    padding: 2.4rem 0 2.2rem;
    background-color: $black;
    border-bottom: 2px solid $red;

    * {
      font-weight: 500;
      text-align: center;
      color: $red;
    }
  }
}

// Remove shadows for Safari //
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Remove arrows for input[type=number] //
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// Adaptive //
@import 'adaptive';
